# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
django=3.0.3=py_0
pillow=7.2.0=py37hb39fc2d_0
psycopg2=2.8.5=py37h1ba5d50_0
python=3.7.7=hcff3b4d_5
pytz=2020.1=py_0
