{% extends 'base.html' %}

{% block title %} | Reset Password{% endblock %}

{% block content %}
<section id="resetPasswordComplete" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="alert alert-success">
          <h4 class="text-primary text-center m-0">
            You password has been changed
          </h4>
          <p class="mt-1 mb-0 text-center"><a href="{% url 'login' %}" class="text-primary">Back to Login</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}