{% extends 'base.html' %}

{% block title %} | Reset Password{% endblock %}

{% block content %}
<section id="resetPassword" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4><i class="fas fa-sign-in-alt"></i> Reset Password</h4>
          </div>
          <div class="card-body">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  name="email"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block"
                >
                  Send Recovery Email
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}